/*********************************************************************************
 * custom less
 ********************************************************************************/
/*
.record-label{
	background-color: #f5f5f5;
}
*/

.record .record-cell{
	margin-bottom: 0px;
	min-height:44px;
}

.record .record-cell .record-label{
	margin-bottom: 2px;
}

.record .normal{
	font-size: 12px;
}
/*
span.table-cell-wrapper{
	width: 100%;
}
*/
span.record-cell{
	width: 100%;
}

.record .record-cell .record-label{
	margin-bottom: 2px;
	margin-top: 0px;
}

.required{
	border-color: #b60000 !important;
}

.record .record-cell .select2-container .select2-choice{
	height: 23px;
	font-size: 12px;
}


.record-cell{
  .address_zip_jajp,
  .address_country_jajp{
    width: 100%;
    clear: both;
  }
  
  :not(.edit) {
    &.address_city_jajp{
      div:after {
        margin-left: -4px;
      }
    }
  }

  .address_zip_jajp{
    .ellipsis_inline:before {
      content: "〒";
    }
  }
  .address_city_jajp,
  .address_state_jajp{
    &> div.ellipsis_inline {
      display: inline !important;
      overflow: visible;
    }
  }
}

.headerpane {
    h1 {
      .table-cell-wrapper {
          width: 90%;
        }
    }
}

#content {
  bottom: 0;
}

.module-list .megamenu {
 &>.dropdown {
    .btn-group {
      /*img*/
      &> .btn.cube {
        img {
          /*height: 100%;
          width: 100%;*/
        }
      }
    }
 }
}