{{!
/*********************************************************************************
 * By installing or using this file, you are confirming on behalf of the entity
 * subscribed to the SugarCRM Inc. product ("Company") that Company is bound by
 * the SugarCRM Inc. Master Subscription Agreement (“MSA”), which is viewable at:
 * http://www.sugarcrm.com/master-subscription-agreement
 *
 * If Company is not bound by the MSA, then by installing or using this file
 * you are agreeing unconditionally that Company will be bound by the MSA and
 * certifying that you have authority to bind Company accordingly.
 *
 * Copyright (C) 2004-2014 SugarCRM Inc.  All rights reserved.
 ********************************************************************************/

}}
<ul class="nav megamenu" style="display:none;" >
    <li class="dropdown" id="createList">
        <div class="btn-group">
            <a data-toggle="dropdown" href="javascript:void(0);" role="button" class="btn btn-invisible btn-link dropdown-toggle" rel="tooltip" data-placement="left" title="{{str "LBL_QUICK_CREATE_TITLE"}}" track="click:quickCreate"><i class="icon-plus icon-md"></i></a>
            <div class="dropdown-menu scroll pull-right">
                <ul role="menu">
                    {{#each createMenuItems}}
                        <li>{{field ../this model=model template=../this.action}}</li>
                    {{/each}}
                </ul>
            </div>
        </div>
    </li>
</ul>
