{{!--
/*
 * By installing or using this file, you are confirming on behalf of the entity
 * subscribed to the SugarCRM Inc. product ("Company") that Company is bound by
 * the SugarCRM Inc. Master Subscription Agreement ("MSA"), which is viewable at:
 * http://www.sugarcrm.com/master-subscription-agreement
 *
 * If Company is not bound by the MSA, then by installing or using this file
 * you are agreeing unconditionally that Company will be bound by the MSA and
 * certifying that you have authority to bind Company accordingly.
 *
 * Copyright (C) 2004-2014 SugarCRM Inc. All rights reserved.
 */
--}}
{{#if meta.short}}
    <a class="cube module-list-link" href="#{{buildRoute module=module}}" data-route="#{{buildRoute module=module}}" track="click:cube"><img src="{{buildUrl url='custom/styleguide/assets/img/logo.png'}}" alt="{{str 'LBL_SUGAR_CUBE_ALT' module}}" width="100%" height="100%"></a>
{{else}}
    <a class="cube btn btn-invisible btn-link" href="#{{buildRoute module=module}}" data-route="#{{buildRoute module=module}}" track="click:cube"><img src="{{buildUrl url='custom/styleguide/assets/img/logo.png'}}" alt="{{str 'LBL_SUGAR_CUBE_ALT' module}}" width="100%" height="100%"></a>
    {{#if actions}}
    <button type="button" title="{{str 'LBL_LINK_MORE' module}}" data-toggle="dropdown" class="btn btn-invisible dropdown-toggle" track="click:cube-dropdown"><i class="icon-caret-down"></i></button>

    <div class="dropdown-menu scroll">
        <ul role="menu">
            {{#each actions}}
			<!--
                <li><a class="ellipsis_inline" tabindex="-1"
                       data-navbar-menu-item="{{label}}"
                    {{#if event}}
                       href="javascript:void(0);"
                       data-event="{{event}}"
                       track="click:{{event}}"
                    {{else}}
                       href="{{route}}"
                       data-route="{{route}}"
                       track="click:{{route}}"
                    {{/if}}>{{#if icon}}<i class="{{icon}}"></i>{{/if}}{{str label ../module}}</a>
                </li>
			-->
            {{/each}}
            <li class="divider" data-container="dashboards"></li>
            {{#if ../dashboardBwcLink}}
            <li class="divider" data-container="legacy-dashboards"></li>
            <li><a class="ellipsis_inline" tabindex="-1" data-route="#{{../dashboardBwcLink}}" href="#{{../dashboardBwcLink}}"><i class="icon-time"></i>{{str 'LBL_DASHBOARD_BWC' module}}</a></li>
            {{/if}}
            <li class="divider" data-container="recently-viewed"></li>
        </ul>
    </div>

    {{/if}}
{{/if}}
